*{
  font-family:'Verdana';
}
h1{
  display: flex;
  align-items: center;
}
.home{
    color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 100px;
  background-image: url("https://w.wallha.com/ws/4/yGDEYb1P.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
#form{
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 30px;
    background: black;
    opacity: 0.9;
}
.input {
  display: flex;
  flex-direction: column;
}
input{
  padding: 10px;
  margin-bottom: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #D3D3D3;
}
.sex{
  padding: 5px;
  align-content: center;
}
.birthdate{
  padding: 5px;
  align-content: center;
}
#Birthdate{
    color:white;
}
.region{
  padding: 10px 50px;
  align-content: center;
}
.terms {
  overflow-y: scroll;
  height: 100px;
  width: 100%;
  border: 1px solid #DDD;
  padding: 10px;
  background:transparent;
  color:white;
}
.agree{
  padding: 10px;
  align-content: center;
}
.buttons{
  padding: 0px 100px;
  align-content: center;
}
.btn {
  border: 2px solid black;
  background-color: transparent;
  color:white;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}
.reset{
  border-color: #FFFFFF;
  color:white;
}
.reset:hover {
  background-color: white;
  color: black;
}
.register{
  border-color: #FFFFFF;
  color: white;
}
.register:hover {
  background:white;
  color: black;
}
.footer{
  text-align: center;
  justify-content: center;
  font-size:10px;
  margin-left: 500px;
  margin-right: 500px;
}
.inputText{
    color:white;
}
input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"]{
    width: 100%;
}
input:focus{
    background: transparent;
    outline: none;
}
input:hover{
    border-bottom: 1px solid gray;
    background:transparent;
}
input:valid {
    border-bottom: 1px solid greenyellow;
    background:transparent;
}
input:focus:invalid {
    border-bottom: 1px solid red;
    background:transparent;
}
input:invalid{
    border-bottom: 1px solid white;
    background:transparent;
}
select{
  background: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
}
option{
  background: black;
  color: white;
}
